*{
    padding: 0%;
    margin: 0%;

}
.nav-bar{
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.nav-list a {
    color: white;
    text-decoration: none;

}
.btn{
    background-color: rgb(0, 153, 255);
    color: white;
    font-weight: bold;
    
}
.nav-list{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 25px;

}
#profile{
    font-size: x-large;
    font-weight: bold;
}
.part1{
    background-color: rgb(255, 255, 255);
    border: solid;
    border-color: gray;
    width: 500px;
    
}
.part1-1{
    background-color: white;
    margin-left: 30px;
}
.part1-0{
    height: 100px;
    background-color: rgb(87, 70, 238);
}
.pin{
    height: 75px;
    width: 75px;
    margin-top: 55px;
    margin-left: 20px;
}
.map{
    font-size: x-large;
    font-weight: unset;
}
.map img {
    height: 25px;
    width: 25px;
}
.edit img{
    height: 30px;
    width: 30px;
}
.edit{
    color: blue;
    text-decoration: solid underline;
}
.part1-2{
    background-color: rgb(255, 255, 255);
    border: solid;
    border-color: gray;
    width: 500px;
    margin-top: 30px;
    
}
#education{
    margin-bottom: 30px;
    height: 30px;
    background-color: black;
    color: white;
    display: flex;
    
}
