h1{
    background-color: black;
    align-items: center;
    color: black;
}
.box1{
     background-color: aqua;
     display: flex;
     justify-content: space-between;
     height: 200px;
     width: 200px;
     padding: auto;
     border: 0cap;
}
.box2{
    background-color: plum;
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 200px;
    padding: auto;
    border: 0cap;
}
.box3{
    background-color: white;
    display: flex;
    height: 200px;
    padding: auto;
    border: 0cap;
}
img{
    width: 50px;
    height: 50px
    ;
}