h1{
    background-color: black;
    color: rgb(102, 206, 206);
}
h2{
    background-color: blueviolet;
    color: white;
}
h3{
    background-color: aquamarine;
    color:purple;
    text-align: right;
    text-decoration: underline;
}
.blue{
    color: white;
}