.color1{
background-color: #ffffe0;
}
.color2{
    background-color:  #556b2f;
}
td{
    width: 50px;
    height: 50px;
}
*{
    margin: auto;
    padding: auto;
}
h1{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    background-color:#556b2f;
    width: 400px;
}