
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0%;
}
.care {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    width: 100px;
    height: 80px;

}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">