mp{
    background-color: grey;
    display: flex;
    justify-content: space-around;
padding: 10px;
}
.mp1{
    border: 2px solid white;
    padding: 10px;
}
.mp2{
    border: 2px solid white;
    padding: 10px;
}
.mp3{
    border: 2px solid white;
    padding: 10px;
}