h1{
    align-items: center;
    color: black;
}
.box1{
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding: auto;
    background-color: aqua;
}

.box2{
    background-color: plum;
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding: auto ;
}
.box3{
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding: auto;
}
img{
    width: 150px;
    height: 150px  ;
} 