<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    
</head>
<style>
    .box{
        display: flex;
        justify-content: center;
        gap: 50px;
        margin: 0%;
        padding: 0%;
        margin-bottom: 20px;
    }

    .care{
        background-color:{{color}};
        width: 100px;
        height: 100px;
        display: inline-block;
    }
</style>
<body>
    <div class="box">
        {% for i in range(0,num) %}
        <div class="care" = {{num}} ></div>
        {% endfor %}
    </div>
</body>
</html>